<%- include("header.ejs") %>
<main>
	<section class="titlebg">
		<div class="p-1 container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="logo">VOGUE BAGUIO</div>
				</div>
			</div>
		</div>
	</section>

    <section class="p-5 cold_gray justify-content-center align-items-center">
            
		
		<div class="container">
			<div class="row ">
		
				<div class="col-lg-5 col-sm-12 "> 
					<!-- Main Featured -->
					<div class="card featured ">
						<div class="imageholder">
							<img class="card-img-top" src="<%= mainFeaturedArticle.img %>" alt="Card image cap">
						</div>
						
						<div class="card-body">
							<h5 class="card-title"><%= mainFeaturedArticle.title %></h5>
							<p class="card-text">
								<%= mainFeaturedArticle.content.length > 100 ? mainFeaturedArticle.content.slice(0, 250) + '...' : mainFeaturedArticle.content %>
							</p>
							
							<a href="/post/<%= mainFeaturedArticle.id %>">Read more</a>
						</div>
					</div>
				</div>
		
				<div class="col-lg-7 col-sm-12">
					<% articles.forEach(article => { %>
						<% if (parseInt(article.id) >= 2 && parseInt(article.id) <= 4) { %>
							<!-- Sub Featured -->
							<div class="card flex-md-row featured justify-content-center align-items-center">
								<div class="col-lg-3">
									<img class="card-img-right" src="<%= article.img %>" alt="" style="height: 150px;">
								</div>
								<div class="card-body flex-column align-items-start">
									<h5 class="card-title"><%= article.title %></h5>
									<p class="card-text">
										<% if (article.content) { %>
											<%= article.content.length > 50 ? article.content.slice(0, 100) + '...' : article.content %>
										<% } else { %>
											<%= article.body.length > 50 ? article.body.slice(0, 100) + '...' : article.body %>
										<% } %>
									</p>
									<a href="/post/<%= article.id %>">Read more</a>
								</div>
							</div>
						<% } %>
					<% }) %>
				</div>
		
			</div>
		</div>
		

    </section>
</main>
<%- include("footer.ejs") %>
